
* {
    margin: 0;
    padding: 0;
  }
  
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;}
    
    .nav-list {
        list-style: none;
        display: flex;
      }
      
      .nav-list li {
        letter-spacing: 3px;
        margin-left: 40px;
      }
      
     
    body {
        background-color:#2a9ecc;
        font-family:'Lato',Helvetica,Arial;
        font-size:15px;
    
        margin:0;
        min-height:100vh;
       
    }
    
    .models {
        display:none;
    }
    
    header {
        position: fixed;
        left:0;
        top:0;
        right:0;
        height:60px;
        background-color:#891bd3;
        display:none;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu-openner {
        margin-right: 15px;
        font-size: 26px;
        background-color: #2798e4;
        padding: 5px 20px;
        border-radius: 5px;
    }
    
    .menu-openner span {
        margin-right:10px;
    }
    
    .menu-closer {
        width:32px;
        height:32px;
        display:none;
        font-size: 30px;
    }
    
    aside {
        background-color:#5ed8fd;
        width:0vw;
        font-family:'Hepta Slab', Helvetica, Arial;
        transition:all ease .2s;
        overflow-x:hidden;
    }
    
    aside.show {
        width:30vw;
        
    }
    
    .cart--area {
        padding:20px;
        right: 1000px;
   
       
    }
    
    main {
        flex:0;
        padding:0px;
        background-color:#2a9ecc;
        color:rgb(0, 0, 0);
    }
    
    h1 {
        font-family:'Hepta Slab', Helvetica, Arial;
        text-align: center;
    }
    h2 {
        font-family:'Hepta Slab', Helvetica, Arial;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #23232e;
        height: 10vh;
        color: #fff;
              
    }